[run]
omit =
    learning_journal/tests.py
    learning_journal/conftest.py
    learning_journal/__init__.py
    learning_journal/models/__init__.py
    learning_journal/models/meta.py
    learning_journal/scripts/__init__.py
    learning_journal/scripts/initializedb.py