{% extends 'base.jinja2' %}

{% block content %}

<p>What did I learn today?</p>

<form method="POST">
    <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
    <div class="control-group">
      <div class="form-group floating-label-form-group controls">
        <label>Title</label>
        <input type="text" class="form-control" placeholder="Title" name="title" value="{{ entry.title }}">
      </div>
    </div>
    <br>
    <div class="control-group">
      <div class="form-group floating-label-form-group controls">
        <label>I learned...</label>
        <textarea rows="5" class="form-control" placeholder="I learned..." name="body">{{ entry.body }}</textarea>
      </div>
    </div>
    <br>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{% endblock content %}