{% extends 'base.jinja2' %}

{% block content %}
  {% for entry in entries %}
    <div class="post-preview">
      <a href="{{ request.route_url('detail', id=entry.id ) }}">
        <h2 class="post-title">
          {{ entry.title }}
        </h2>
      </a>
      <p class="post-meta">Posted on {{ entry.creation_date }}</p>
    </div>
    <hr>
  {% endfor %}
{% endblock content %}
